{
  "services": [
  {%- for item in rpc_services %}
    {
      "name": "{{ item.name }}",
      "tags": {{ item.tags | to_json }},
      "port": {{ item.port }},
      "check": {
        "script": "{{ item.check }}",
        "interval": "{{ item.interval }}"
      }
    }{% if not loop.last %},{% endif -%}
  {% endfor -%}
  ]
}
