{
  "server": true,
  "server_name": "{{ consul_server_name }}",
  "bootstrap_expect": {{ consul_bootstrap_expect }},
  "enable_script_checks": true,
  "ui_config": {
    "enabled": {{ consul_ui }}
  }
}
